<!-- login.hbs -->
{{#if @site.members_enabled}}
<div>
    <a class="gh-head-button" href="#/portal/signup" data-portal="signup">{{t "Subscribe"}}</a>
    <a class="gh-head-button" href="#/portal/signin" data-portal="signin">{{t "Login"}}</a>
    <a class="gh-head-button" href="#/portal/account" data-portal="account">{{t "Account"}}</a>
</div>
{{/if}}