<!-- social-media-accounts.hbs -->
<header><h2>Follow us on our social channels below&colon; @bddezawake</h2></header>
<section class="social-media-accounts flex row nowrap align-content-center align-items-center">
    <div><a href="https://www.facebook.com/bddezawake/" title="Facebook" target="_blank">Facebook</a></div>
    <div><a href="https://www.tiktok.com/@bddezawake" title="TikTok" target="_blank">TikTok</a></div>
    <div><a href="https://www.linkedin.com/company/bddezawake/" title="LinkedIn" target="_blank">LinkedIn</a></div>
    <div><a href="https://twitter.com/bddezawake" title="Twitter" target="_blank">Twitter</a></div>
    <div><a href="https://www.pinterest.co.uk/bddezawake/" title="Pinterest" target="_blank">Pinterest</a></div>
    <div><a href="https://www.snapchat.com/add/bddezawake" title="Snapchat" target="_blank">Snapchat</a></div>
    <div><a href="#" title="Instagram" target="_blank">Instagram</a></div>
    <div><a href="#" title="WhatsApp" target="_blank">WhatsApp</a></div>
    <div><a href="#" title="Telegram" target="_blank">Telegram</a></div>
    <div><a href="#" title="YouTube" target="_blank">YouTube</a></div>
    <div><a href="#" title="GitHub" target="_blank">GitHub</a></div>
</section>