:root {
    /* Fonts */
    --font-size: 16px;
    --font-general: "Maven Pro";
    --font-special: "gambado-sans";
    --font-default: "sans-serif";
    /* Colors */
    --grey-bg: #f5f5f5;
    --main-bg-color: silver;
    --second-bg-color: gold;
    --brand-color: #ff1a75;
    /* Setting */
    --curve-radius: 1rem;
    --brand-radius: 50%;
    --brand-height: 3.75rem;
    --brand-width: 3.75rem;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-general), var(--font-default);
    font-size: var(--font-size);
}