.nav {
    list-style-type: none;
    gap: 2rem;
}

.home-template {
    width: 85%;
    text-align: center;
}

.sign-post {}

.shelves-post {
    padding: 1rem;
    border-radius: var(--curve-radius);
    width: 100%;
    gap: 2rem;
    font-family: var(--font-general), var(--font-default);
    overflow: hidden;
    overflow-x: scroll;
    cursor: grab;
}

.shelves-post:active {
    cursor: grabbing;
}

.goodbye-post {}

.shelf-item {
    flex: 0 0 20rem;
    padding: .75rem;
    border-radius: var(--curve-radius);
    font-family: var(--font-special), var(--font-default);
}

.shelf-item:nth-child(odd) {
    background-color: var(--harmonies-one);
}

.shelf-item:nth-child(even) {
    background-color: var(--harmonies-six);
}

.shelf-item:hover {
    box-shadow: 0 0 0.5rem 0 #AEB6BF;
}

.item-figure {
    cursor: default;
    max-width: inherit;
}

.item-img {
    border-radius: var(--curve-radius);
    max-height: 16rem;
    width: 100%;
}

.item-title,
.item-text,
.item-cta-price,
.item-cta-button {
    padding: 1rem;
}

.item-cta-price {
    cursor: text;
}

.empty-shelves {
    color: red;
}

/* Ghost core classes */

.kg-width-wide,
.kg-width-full {
    border: .25rem solid red !important;
}

.gh-portal-triggerbtn-iframe {
    right: unset !important;
    left: 0 !important;
    user-select: none;
}

/* Snipcart */

.snipcart-trigger-aside {
    user-select: none;
    z-index: 3999995;
    position: fixed;
    bottom: 0px;
    right: 0px;
    animation: 250ms ease 0s 1 normal none running animation-bhegco;
    transition: opacity 0.3s ease 0s;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--brand-color);
    border-radius: var(--brand-radius);
    height: var(--brand-height);
    min-width: var(--brand-width);
    margin: 0 1.25rem 1.75rem 0;
}

.snipcart__icon {
    cursor: pointer;
}

.snipcart-add-item {
    user-select: none;
    padding: .5rem 1rem;
    border-radius: var(--curve-radius);
    cursor: pointer;
    color: var(--btn-four);
    background-color: var(--powder-blue);
}

.snipcart-add-item:hover {
    background-color: var(--pastel-blue);
}

.snipcart-add-item:active {
    background-color: var(--light-blue);
}