.nav {
    list-style-type: none;
    gap: 2rem;
}

.home-template {
    width: 85%;
    text-align: center;
}

.sign-post {}

.shelves-post {
    flex-basis: 45rem;
    gap: 5rem;
    padding: 1rem;
    border-radius: var(--curve-radius);
    width: 100%;
    font-family: var(--font-general), var(--font-default);
}

.goodbye-post {}

.shelf-title {
    flex: 1 0 5rem;
    user-select: none;
    cursor: default;
    font-family: var(--font-special);
}

.arrows {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    color: var(--colors-four);
}

.arrows:hover {
    color: var(--colors-three);
}

.arrows:active {
    color: var(--colors-two);
}

.shelf-title h2 {
    padding-bottom: .75rem;
    font-size: 2.5rem;
    color: var(--colors-two);
}

.shelf-content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.shelf-content {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: hidden;
    overflow-x: scroll;
    height: 70vh;
    width: 100%;
    gap: 3rem;
    cursor: grab;
}

.shelf-content:active {
    cursor: grabbing;
}

.shelf-item {
    flex: 0 0 20rem;
    border-radius: var(--curve-radius);
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border: var(--primary-border);
    font-family: var(--font-special), var(--font-default);
    cursor: default;
    box-shadow: none;
    transition: .333s ease-in-out 0s boxShadow;
}

.shelf-item:first-child {
    margin-right: 3rem;
}

.shelf-item:last-child {
    margin-left: 3rem;
}

.shelf-item:nth-child(odd) {
    background-color: var(--colors-five-op);
}

.shelf-item:nth-child(even) {
    background-color: var(--colors-six-op);
}

.shelf-item:hover {
    box-shadow: 0 0 1rem 0 var(--colors-five);
}

.item-figure {
    max-width: inherit;
}

.item-img {
    height: 100%;
    max-height: 15rem;
    width: 100%;
    border-radius: var(--curve-radius);
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    box-shadow: none;
}

.item-title,
.item-text,
.item-cta-price,
.item-cta-button {
    padding: 1rem;
}

.item-title {
    font-size: 1.65rem;
}

.item-title a {
    text-decoration: none;
}

.item-cta-price {
    cursor: default;
    font-size: 1.5rem;
}

.empty-shelves {
    color: red;
}

/* Footer */

.zawake-footer {
    min-height: 15rem;
    width: 100%;
    color: var(--colors-six);
    background-color: var(--colors-one);
    gap: 2rem;
}

.zawake-footer a:link,
.zawake-footer a:visited {
    color: inherit;
}

.zawake-footer a:hover {
    color: var(--colors-five);
}

.zawake-footer a:active {
    color: var(--colors-four);
}

.zawake-footer-login {
    gap: 2rem;
}

/* Ghost core classes */

.kg-width-wide,
.kg-width-full {
    border: .25rem solid red !important;
}

.gh-portal-triggerbtn-iframe {
    right: unset !important;
    left: 0 !important;
    user-select: none;
}

/* Snipcart */

.snipcart-trigger-aside {
    user-select: none;
    z-index: 3999995;
    position: fixed;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 1.25rem 1.25rem 0;
}

.snipcart-trigger-aside svg {
    width: 4rem;
}

.snipcart-trigger-aside-text {
    background-color: rgb(59, 175, 218);
    padding: .15rem 1rem;
    border-radius: var(--curve-radius);
    color: var(--colors-two);
    font-family: var(--font-default);
}

.snipcart-total-price {
    font-family: inherit;
}

.snipcart__icon {
    cursor: pointer;
}

.snipcart-item-line__media {
    margin-right: 0;
    margin-left: 2rem;
}

.snipcart-add-item {
    user-select: none;
    padding: .5rem 1rem;
    cursor: pointer;
    color: var(--colors-five);
    background-color: var(--colors-two);
    border: none;
    border-radius: var(--curve-radius);
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
    font-size: 1.25rem;
}

.snipcart-add-item:hover {
    color: var(--colors-one);
    background-color: var(--colors-three);
}

.snipcart-add-item:active {
    color: var(--colors-one);
    background-color: var(--colors-four);
}